# SOME BASIC DATA STRUCTURES AND COMPARISON OPERATORS

A list and len() function to find its length.

In [1]:
myList = [1,2,3]

In [2]:
len(myList)

3

# Dictionaries

Syntax and some methods for dictionaries.

In [1]:
# Dictionaries

In [2]:
l = [1,2,3]

In [3]:
l

[1, 2, 3]

In [4]:
l[0]

1

A sample Dictionary

In [6]:
myDict = {'key1':'AB', 'key2':'AC','key3':'AD'}

Finding a value using a key

In [8]:
myDict['key1']

'AB'

lower() and upper() methods

In [9]:
myDict['key2'].lower()

'ac'

In [10]:
myDict['key1'].upper()

'AB'

In [11]:
MyDct = {'key1':'Alabama', 'numb':30,'num2':400}

In [12]:
MyDct['num2']

400

This will not be a permenant change in our dictionary

In [14]:
MyDct['num2']-300 #not permenant!

100

This will BE a permenant change

In [15]:
# to make it permenant
MyDct['num2']=MyDct['num2']-61

In [16]:
MyDct['num2'] #Display the permenant change

339

To display all the keys and values of the dictionary, we simply run the name that we've given to the dictionary.

In [17]:
MyDct

{'key1': 'Alabama', 'num2': 339, 'numb': 30}

In [18]:
MyDct['num2'] +=161 #should change key num2's value to 500
MyDct['num2'] #display key num2

500

Creating an empty dictionary is important. Maybe for a for loop?

In [ ]:
d = {} #create empty dictionary

In [20]:
d

{}

Adding values to the dictionary is very simple and as following.

In [21]:
d['no1'] = 'number1'
d['ans'] = 42
d['SN41'] = 19036932149
d

{'SN41': 19036932149, 'ans': 42, 'no1': 'number1'}

An instance of a nested Dictionary

In [26]:
'''
this wil
be about
dictionary 
nesting
'''
d={'key1':{'key2':{'key3':'answer is here'}}}

In [28]:
#display nested dict
d

{'key1': {'key2': {'key3': 'answer is here'}}}

In [29]:
d['key1']

{'key2': {'key3': 'answer is here'}}

In [30]:
d['key1']['key2']

{'key3': 'answer is here'}

Slicing a dictionary is similar to that of a simple list.

In [31]:
d['key1']['key2']['key3']

'answer is here'

In [33]:
d = {}
d['k1'] = 'answ1'
d['k2'] = 'answ2'
d['k3'] = 'answ3'
d

{'k1': 'answ1', 'k2': 'answ2', 'k3': 'answ3'}

keys(), upper(), values(), items() methods

In [34]:
d['k1'].upper()

'ANSW1'

In [38]:
d.keys() #key method

dict_keys(['k1', 'k2', 'k3'])

In [39]:
d.values() #values method

dict_values(['answ1', 'answ2', 'answ3'])

In [43]:
d.items() #items method

dict_items([('k1', 'answ1'), ('k2', 'answ2'), ('k3', 'answ3')])

In [46]:
 t=(1,2,3)
t #display the tuple

(1, 2, 3)

In [47]:
t[1]

2

In [48]:
t[-1] #supports slicing

3

In [50]:
len(t)

3

count() method for number of occurance of a value

In [54]:
t.count(2) # how many 2s are there

1

In [55]:
t = ('a', 'b', 3,4,5,'six')
t

('a', 'b', 3, 4, 5, 'six')

In [56]:
t[::-1] #reverse it

('six', 5, 4, 3, 'b', 'a')

In [57]:
t[2:5:2]

(3, 5)

Permenant reversal

In [58]:
t = t[::-1] #permenantly reversed

In [59]:
t #display the change

('six', 5, 4, 3, 'b', 'a')

In [61]:
t[0] = 'seven' #try to change tuple's value. WILL RETURN ERROR!!!

TypeError: 'tuple' object does not support item assignment

DOCSTRING IS USED FOR AN EXPLANATION ABOUT TUPLES and LISTS.

In [62]:
'''
there are two methods in tuples
a good reason to use a tuple is when you dont want to change your values
when you want something to be immutable
an example to this might be
calendar
which never changes in value
...Remember
there are many list methods but only 2 methods which are count and index'''

'\nthere are two methods in tuples\na good reason to use a tuple is when you dont want to change your values\nwhen you want something to be immutable\nan example to this might be\ncalendar\nwhich never changes in value\n...Remember\nthere are many list methods but only 2 methods which are count and index'

# OPENING, READING, AND WRITING FILES and SOME USEFUL METHODS

In [63]:
### FILES LECTURE ###

In [64]:
pwd #show directory of where my jupt workbook is. print working directory

'C:\\Users\\Yucehan'

In [66]:
f = open('test.txt')

In [67]:
f.read()

'whatever'

In [68]:
f.read() #read second time

''

In [70]:
f.seek(0) # send the cursor to the first line
f.read() # read the file again to see if its going to read the full text of which its in

'whatever'

In [71]:
%%writefile test.txt
Hello. I am adding values to my txt file

Overwriting test.txt

In [72]:
f.read()

' am adding values to my txt file'

In [73]:
TestFile = open('test.txt')

In [74]:
TestFile.read()

'Hello. I am adding values to my txt file'

In [75]:
TestFile.seek(0)

0

In [76]:
TestFile.read()

'Hello. I am adding values to my txt file'

In [77]:
%%writefile test.txt
I am overwriting whatever I have on my file again

Overwriting test.txt

In [78]:
TestFile.read()

'ile again'

In [79]:
f.read()

'ile again'

In [80]:
f.seek(0)

0

In [81]:
f.read()

'I am overwriting whatever I have on my file again'

In [82]:
f.readlines()

[]

In [83]:
f.seek(0)

0

In [84]:
f.readlines()

['I am overwriting whatever I have on my file again']

In [88]:
%%writefile test.txt
firstline
secondline
third line

Overwriting test.txt

In [89]:
myF=open('test.txt')
myF.seek(0)
myF.read()

'firstline\nsecondline\nthird line'

# Sets and Booleans

Here I will be working in Sets and Booleans

In [92]:
x=set()

In [93]:
x

set()

In [94]:
x.add(1)

In [95]:
x

{1}

l will be a list. Then I will convert l into a set

In [96]:
l=[1,1,1,1,2,2,2,3,3,4,4,5,5,6,7]
l

[1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7]

In [97]:
set(l) #should only display every item once

{1, 2, 3, 4, 5, 6, 7}

Boolean

In [98]:
a = True
a

True

In [99]:
11<2 #returns false

False

In [100]:
'ab' == 'ab'

True

Remember. Sets are unordered unique collection of items

Some methods of sets are as following

In [101]:
s1 = {1,2,3}

In [102]:
s2 = {1,2,5}

In [103]:
s3 = {6,7}

In [104]:
s1.isdisjoint(s3) #should return false since s1 and s3 dont intersext

True

In [105]:
s1.issubset(s2)

False

In [106]:
s4={2,3}

In [107]:
s4.issubset(s1)

True

In [110]:
s1.intersection(s2) #what are the intersecting values between the two sets

{1, 2}

In [111]:
s1.issuperset(s4)

True

In [112]:
s1.union(s3)

{1, 2, 3, 6, 7}

In [113]:
s1

{1, 2, 3}

In [114]:
s1 = s1.union(s4)

In [115]:
s1

{1, 2, 3}

In [118]:
s1 = s1.union(s3) #permenant union of s1 and s3

In [119]:
s1

{1, 2, 3, 6, 7}

Some methods for sets are union(),isdisjoint(), intersection()

In [120]:
2/3

0.6666666666666666

In [121]:
type(3+4+1.5)

float

In [122]:
s='hello'
s[1]

'e'

In [123]:
s[::-1]

'olleh'

In [124]:
s[-1]

'o'

# COMPARISON OPERATORS

In [1]:
1 < 2

True

In [2]:
1<2<5

True

In [4]:
1==1 or 1==3

True

In [5]:
'b'=='c' and 'd'=='x'

False

In [6]:
'b'=='c' and 'd'=='d'

False

In [7]:
'b'=='c' or 'x'=='x'

True

In [8]:
4>3>5

False