# Python statements

We will be working on some Python statements! In Python, by incorporating colon and whitespace, we get rid of many of the syntax which you would have otherwise had, were you to use a different programming language such as C++

In [11]:
a=0
b=-1
if a > b: #run following statements when a > b is true!
    a=3
    b=4

## if elif else statements

Some exampls for if, elif, else statements!

In [6]:
if True:
    print ('it is indeed True') #need parenthesis for python 3! but not python 2!

it is indeed True

In [12]:
x = False

if x:  #if x means if x is true
    print ('x is true')
else: #if x is anything BUT true!
    print ('x is not true!')

x is not true!

In [13]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('welcome to the auto shop!')
elif loc == 'Bank':
    print('welcome to the Bank!')
else:
    print('loc is equal to neither!!!')

welcome to the Bank!

In [14]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('welcome to the auto shop!')
elif loc == 'bank':
    print('welcome to the Bank!')
else:
    print('loc is equal to neither!!!')

loc is equal to neither!!!

In [15]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('welcome to the auto shop!')
elif loc == 'Bank':
    print('welcome to the Bank!')
else:
    print('loc is equal to neither!!!')

welcome to the auto shop!

In [16]:
person = 'Sam'
if person == 'Sam':
    print('Hi Sam!')
else:
    print('What is your name?')

Hi Sam!

In [17]:
person = 'John'
if person == 'Sam':
    print('Hi Sam!')
else:
    print('What is your name?')

What is your name?

## For-loops exercise

For iteration!

In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

Print all the elements with for loop

In [5]:
for element in l:
    print(element)

1
2
3
4
5

In [6]:
#print as many numbers there are
for num in l:
    print('print this five times')

print this five times
print this five times
print this five times
print this five times
print this five times

MODULO IS A VERY USEFUL TOOL IN PYTHON! and OFTENLY USED FOR ITERATION PROCESS

In [7]:
# MODULO

In [8]:
10%3 #should return 1

1

In [9]:
1009 % 1000

9

In [10]:
for num in l:
    if num % 2 == 0:
        print(num)

2
4

In [11]:
for num in l:
    if num % 2 ==1: #prints odd numbers
        print(num)

1
3
5

In [12]:
for num in l:
    if num % 2 == 0:
        print('Even nums')
    else:
        print('Odd nums')

Odd nums
Even nums
Odd nums
Even nums
Odd nums

FIND THE EVEN AND ODD NUMBERS FROM A LIST AND LABEL THEM ACCORDINGLY!

In [13]:
MyNumList = [10,13,15,17,19]
for num in MyNumList:
    if num % 2 == 0:
        print('This number is even: ', num)
    elif num % 2 == 1:
        print('This number is odd: ', num)

This number is even:  10
This number is odd:  13
This number is odd:  15
This number is odd:  17
This number is odd:  19

How too add all the numbers in a list together? with FOR LOOP

In [15]:
listSum = 0

for num in l:
    listSum += num
    
print(listSum)

15

In [16]:
s = 'Yucehan Kucukmotor was born in 1992'
for letter in s:
    print(letter)

Y
u
c
e
h
a
n

K
u
c
u
k
m
o
t
o
r

w
a
s

b
o
r
n

i
n

1
9
9
2

TUPLES AND FOR LOOP/ITERATION

In [17]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

2-valued tuple items are like coordinations!

In [18]:
l = [(1,2), (3,4), (5,6), ('a','b')]
l

[(1, 2), (3, 4), (5, 6), ('a', 'b')]

In [19]:
l[0]

(1, 2)

In [20]:
l[0][1]

2

In [21]:
l[3][0] #grab 'a'

'a'

In [23]:
for tup in l:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
('a', 'b')

WHAT IF YOU JUST WANT TO PRINT OUT THE FIRST ELEMENTS OF A GIVEN TUPLE?

In [24]:
for (t1,t2) in l:
    print(t1) #unpack and print first element of the tuple

1
3
5
a

In [27]:
for (n1,n2) in l:
    print(n1*n2) # wont multiply str

2
12
30

TypeError: can't multiply sequence by non-int of type 'str'

In [28]:
d = {'a':'b', 'c':'d', 'lel': 57400}
d

{'a': 'b', 'c': 'd', 'lel': 57400}

In [29]:
for item in d:
    print(d)

{'a': 'b', 'c': 'd', 'lel': 57400}
{'a': 'b', 'c': 'd', 'lel': 57400}
{'a': 'b', 'c': 'd', 'lel': 57400}

In [30]:
# In Python 2 you can use d.iteritems to print both keys and values

# while-loops

While-loops are condition-based statements

In [33]:
x = 0
while x < 10:
    print('x is currently:',x)
    x+=1

x is currently: 0
x is currently: 1
x is currently: 2
x is currently: 3
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9

In [36]:
x = -2
while x < 3:
    print('X is less than 3:', x)
    x+=1
else:
    print("now we've reached the moment where we need to stop")

X is less than 3: -2
X is less than 3: -1
X is less than 3: 0
X is less than 3: 1
X is less than 3: 2
now we've reached the moment where we need to stop

Break,continue, and pass

In [39]:
x = 0

while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x == 3:
        print('hey. x has reached 3!!')
        break
    else:
        print('continuing')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing
x is currently:  1
x is still less than 10, adding 1 to x
continuing
x is currently:  2
x is still less than 10, adding 1 to x
hey. x has reached 3!!

# Range() function to be covered briefly

In [40]:
range(0,6)

range(0, 6)

In [44]:
for num in range(11):
    print('now number is:', num)

now number is: 0
now number is: 1
now number is: 2
now number is: 3
now number is: 4
now number is: 5
now number is: 6
now number is: 7
now number is: 8
now number is: 9
now number is: 10

In [46]:
range(5,16,5)

range(5, 16, 5)

In [47]:
x=range(5,16,5)
print(x)

range(5, 16, 5)

In [48]:
type(x)

range

In [49]:
big=range(4123)

In [50]:
print(big)

range(0, 4123)

RANGE() FUNCTION

In [1]:
range(0,5)

range(0, 5)

In [2]:
x=range(0,10)

In [3]:
for num in x:
    if num > 5:
        print("hey boy")
    else:
        print("still less than 5")

still less than 5
still less than 5
still less than 5
still less than 5
still less than 5
still less than 5
hey boy
hey boy
hey boy
hey boy

# List Comprehension is a useful technique that terrifies many beginners. It will be covered briefly here.

In [2]:
# grab every letter in string
lst = [x for x in 'word']

In [3]:
lst

['w', 'o', 'r', 'd']

In [4]:
MyListComprehension = [l for l in 'My Name is Giovanni Giorgio']

In [5]:
MyListComprehension

['M',
 'y',
 ' ',
 'N',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'G',
 'i',
 'o',
 'v',
 'a',
 'n',
 'n',
 'i',
 ' ',
 'G',
 'i',
 'o',
 'r',
 'g',
 'i',
 'o']

In [6]:
fullName = 'Yucehan Kucukmotor'
MyName = [l for l in fullName]
MyName

['Y',
 'u',
 'c',
 'e',
 'h',
 'a',
 'n',
 ' ',
 'K',
 'u',
 'c',
 'u',
 'k',
 'm',
 'o',
 't',
 'o',
 'r']

In [7]:
list = [x**3 for x in range(0,15)]

In [8]:
list

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

A good example of list comprehension use!

In [9]:
Listed = [x**0.5 for x in range(10,1000,100)]
Listed

[3.1622776601683795,
 10.488088481701515,
 14.491376746189438,
 17.60681686165901,
 20.248456731316587,
 22.58317958127243,
 24.698178070456937,
 26.645825188948457,
 28.460498941515414,
 30.166206257996713]

In [14]:
# check for even then for odd numbers using list comprehension technique
listx = [x for x in range(5,15,2) if x % 2 == 0] #display even numbers. No value
listy = [x for x in range(5,15,2) if x % 2 == 1] #display odd numbers. 5,6,9,11,13

In [15]:
listx #evens

[]

In [16]:
listy

[5, 7, 9, 11, 13]

More complicated arithmetic can also be calculated

In [18]:
celsius = [0,10,20.1,34.8]
fahrenheit = [((float(9)/5)* temp +32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.18, 94.63999999999999]

***Statements assessment***

In [28]:
# print words that start with letter 's' by splitting the sentence and using for, if technique
st = 'Print only the words that start with s in this sentence'

for myW in st.split():
    if myW[0] == 's':
        print(myW)

start
s
sentence

In [31]:
# use range() to print all even numbers from 0 to 10
lst = [x for x in range(0,11) if x % 2 ==0]
lst

[0, 2, 4, 6, 8, 10]

In [32]:
xL = range(0, 11)
for x in xL:
    if x % 2 == 0:
        print('Even:', x)

Even: 0
Even: 2
Even: 4
Even: 6
Even: 8
Even: 10

In [33]:
print(range(0,11,2))

range(0, 11, 2)

In [1]:
# IS THE NUMBER DIVISIBLE BY THREE?
DivisibleBy3 = [x for x in range(0,51) if x % 3 == 0]
DivisibleBy3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [43]:
st = 'Print every word in this sentence that has an even number of letters'

for w in st.split():
    if len(w) % 2 == 0:
        print('Even!')

Even!
Even!
Even!
Even!
Even!
Even!
Even!
Even!
Even!

X IS A LIST BETWEEN 0 and 101 (101 excluded). FIZZBUZZ WILL BE PRINTED FOR A NUMBER THAT IS DIVISIBLE BY BOTH 3 and 5. ONLY FIZZ IF THE NUMBER IS MERELY DIVISIBLE BY 3, and BUZZ when IT IS DIVISIBLE BY 5

In [48]:
x = range(0,101)

for n in x:
    if n % 3 == 0 and n % 5 == 0:
        print('FizzBuzz:', n)
    elif n % 3 == 0:
        print('Fizz:', n)
    elif n % 5 == 0:
        print('Buzz:', n)
    else:
        print(n)

FizzBuzz: 0
1
2
Fizz: 3
4
Buzz: 5
Fizz: 6
7
8
Fizz: 9
Buzz: 10
11
Fizz: 12
13
14
FizzBuzz: 15
16
17
Fizz: 18
19
Buzz: 20
Fizz: 21
22
23
Fizz: 24
Buzz: 25
26
Fizz: 27
28
29
FizzBuzz: 30
31
32
Fizz: 33
34
Buzz: 35
Fizz: 36
37
38
Fizz: 39
Buzz: 40
41
Fizz: 42
43
44
FizzBuzz: 45
46
47
Fizz: 48
49
Buzz: 50
Fizz: 51
52
53
Fizz: 54
Buzz: 55
56
Fizz: 57
58
59
FizzBuzz: 60
61
62
Fizz: 63
64
Buzz: 65
Fizz: 66
67
68
Fizz: 69
Buzz: 70
71
Fizz: 72
73
74
FizzBuzz: 75
76
77
Fizz: 78
79
Buzz: 80
Fizz: 81
82
83
Fizz: 84
Buzz: 85
86
Fizz: 87
88
89
FizzBuzz: 90
91
92
Fizz: 93
94
Buzz: 95
Fizz: 96
97
98
Fizz: 99
Buzz: 100

In [49]:
st = 'Create a list of the first letters of every word in this string'
[f[0] for f in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']